<footer class="footer">
  
  <div class="footer-back-top" onclick="window.scrollTo({top:0,behavior:'smooth'})" data-t="backToTop">Back to top</div>
  <div class="footer-main">
    <div class="footer-col">
      <h4 data-t="getToKnow">Get to Know Us</h4>
      <a href="/about" data-t=about <%= CFG.store_name  %>>About <%= CFG.store_name  %></a>
      <a href="#" data-t="careers">Careers</a>
      <a href="#" data-t="press">Press Releases</a>
      <a href="#" data-t="investor">Investor Relations</a>
    </div>
    <div class="footer-col">
      <h4 data-t="makeMoneyTitle">Make Money shop Us</h4>
      <a href="#" data-t="sell on <%= CFG.store_name  %>">Sell on <%= CFG.store_name  %></a>
      <a href="#" data-t="associates">Associates Programme</a>
      <a href="#" data-t="advertise">Advertise Your Products</a>
    </div>
    <div class="footer-col">
      <h4 data-t="<%= CFG.store_name  %>Pay"><%= CFG.store_name  %> Pay</h4>
      <a href="#" data-t="<%= CFG.store_name  %> upiPay"><%= CFG.store_name  %> Pay UPI</a>
      <a href="#" data-t="<%= CFG.store_name  %> wallet"><%= CFG.store_name  %> Wallet</a>
      <a href="#" data-t="<%= CFG.store_name  %> shopCredits"><%= CFG.store_name  %> Credits</a>
      <a href="#" data-t="<%= CFG.store_name  %> emiAvail">EMI Available</a>
    </div>
    <div class="footer-col">
      <h4 data-t="letUsHelp">Let Us Help You</h4>
      <a href="#" data-t="yourAccount">Your Account</a>
      <a href="#" data-t="returnsCenter">Returns Centre</a>
      <a href="#" data-t="protection">100% Purchase Protection</a>
      <a href="/contact" data-t="help">Help</a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-inner">
      <div class="footer-logo">
         <img
    src="<%= CFG.store_logo || '/images/logo.png' %>"
    alt="<%= CFG.store_name || 'ShopZone' %>"
>
        <!-- <span>Amazon</span> -->
      </div>
      <p data-t="<%= CFG.store_name  %>.in">© 2026 <%= CFG.store_name %>.in — All rights reserved</p>
      <div class="footer-links">
        <a href="#" data-t="conditions">Conditions of Use</a>
        <a href="#" data-t="privacy">Privacy Notice</a>
        <a href="#" data-t="ads">Interest-Based Ads</a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
